{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .faq-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(1,1,1,.1);
            padding: 30px 0;
        }
        .faq-main {
            position: relative;
            width: 60%;
            margin-right: auto;
            margin-left: auto;
            top: 60px;
            background-color: #fff;
            padding: 20px 20px;
        }
        .title-bg {
            width: 50px;
            height: 50px;
            background: linear-gradient(45deg, #4F71AD, #18A0B4);
            margin-bottom: 30px;
        }
        .title-main {
            width: 200px;
            height: 45px;
            background-color: #fff;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            line-height: 35px;
            color: rgba(1,1,1,.5);
            font-size: 25px;
        }
        .block {
            margin: 30px 0px;
        }
        .question {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .decorate-line {
            width: 50px;
            margin-top: 30px;
            border-bottom: 1px solid rgba(1,1,1,.3);
        }
    </style>
    <div class="faq-bg">
        <div class="faq-main">
            <div class="title-bg">
                <div class="title-main">報名方式</div>
            </div>
			<div class="block">
                <div class="question">報名期限到6/25號，請於網頁右上角選登入報名將基本資訊填完即可</div>
                <div class="decorate-line"></div>
            </div>
            <div class="title-bg">
                <div class="title-main">繳費方式</div>
            </div>
            <div class="block">
                <div class="question">報名結束後，我們會審核各位的資料，審核大約會花一周的時間，等審核通過後我們會公布繳費方式，目前營隊費用為5000元</div>
                <div class="decorate-line"></div>
            </div>
        </div>
    </div>
{% endblock %}