{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .login-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #4F71AD, #18A0B4);
        }
        .login-main {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            top: 50%;
            padding: 10px 0;
            transform: translateY(-50%);
            width: 30%;
            background-color: #FFFFFF;
            box-shadow: 5px 5px 5px rgba(1,1,1,0.1);
        }
        .login-logo {
            position: relative;
            height: 30%;
        }
        .login-logo img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
        }
        .login-form {
            position: relative;
        }
        .input-group {
            text-align: center;
            margin: 15px 0;
        }
        .input-group .text {
            width: 60%;
            line-height: 30px;
            border-radius: 10px;
            border: solid 1px rgba(1,1,1,.5);
            outline: none;
            padding: 0 10px;
            text-align: center;
        }
        .input-group .submit-btn {
            width: 40%;
            height: 30px;
            border-radius: 20px;
            border: none;
            background-color: #4F71AD;
            color: #ffffff;
            cursor: pointer;
            transition: all 0.5s ease;
        }
        .input-group .submit-btn:hover {
            background-color: #415D8E;
        }
        .input-group .singup-btn {
            width: 40%;
            text-decoration: none;
            padding: 7px 45px;
            border-radius: 20px;
            border: none;
            background-color: #18A0B4;
            color: #ffffff;
            font-size: 12px;
            transition: all 0.5s ease;
        }
        .input-group .singup-btn:hover {
            background-color: #148394;
        }
    </style>
    <div class="login-bg">
        <div class="login-main">
            <div class="login-logo">
                <img src="/static/logo.svg">
            </div>
            <div>
                <form method="POST" action="/login/login" class="login-form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="text" name="username" placeholder="帳號"></input>
                    </div>
                    <div class="input-group">
                        <input class="text" type="password" name="password" placeholder="密碼"></input>
                    </div>
                    <div class="input-group">
                        <input class="submit-btn" type="submit" value="登入"></input>
                    </div>
                    <div class="input-group">
                        <a href="/signup" class="singup-btn">註冊 / 報名</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}