{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .signup-bg {
            position: relative;
            width: 100%;
            background-color: rgba(1, 1, 1, .1);
            padding: 40px 0;
        }
        .signup-main {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            width: 80%;
            background-color: #ffffff;
            padding: 20px 20px;
        }
        .title-bg {
            width: 50px;
            height: 50px;
            background: linear-gradient(45deg, #4F71AD, #18A0B4);
            margin-bottom: 30px;
        }
        .title-main {
            width: 200px;
            height: 45px;
            background-color: #fff;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            line-height: 35px;
            color: rgba(1,1,1,.5);
            font-size: 25px;
        }
        .notice {
            margin-bottom: 20px;
        }
        .notice div {
            margin: 5px 0;
        }
        .form-group {
            display: flex;
            padding: 30px 10px;
        }
        .form-group input {
            border: none;
            outline: none;
            border-bottom: 2px solid rgba(1,1,1,.3);
            padding: 3px 3px;
        }
        .form-group textarea {
            width: 40%;
            height: 100px;
            outline: none;
        }
        .i3over1 {
            width: 25%;
            margin: 0 4%;
        }
        .i3over1 .label {
            margin-bottom: 10px;
        }
        .i3over1 input {
            width: 80%;
            border: none;
            outline: none;
            border-bottom: 2px solid rgba(1,1,1,.3);
            padding: 3px 3px;
            font-size: 25px;
        }
        .iall {
            width: 100%;
        }
        .iall .label {
            margin-bottom: 10px;
        }
        .floatLeft {
            position: relative;
            width: 10%;
        }
        .form-group .submit-btn {
            transition: all 0.5s ease;
            background-color: #fff;
            border: 2px solid #4F71AD;
            padding: 10px 40px;
            font-size: 20px;
            cursor: pointer;
        }
        .form-group .submit-btn:hover {
            background-color: #4F71AD;
            color: #fff;
        }
    </style>
    <div class="signup-bg">
        <div class="signup-main">
            <div class="title-bg">
                <div class="title-main">報名須知</div>
            </div>
            <div class="notice">
                <div>．報名期限：即日起至2017/07/20止</div>
                <div>．營期：2017/08/08(二)~2017/08/12(六)</div>
                <div>．招生對象：程式解題競賽有興趣的國、高中同學</div>
                <div>．招收人數：70人</div>
                <div>．費用：5000/人</div>
                <div>．先到先審 錄取之後會以 email 和電話通知</div>
                <div>．確定錄取之後再進行繳費的動作</div>
            </div>
            <div class="title-bg">
                <div class="title-main">填寫報名資料</div>
            </div>
            <form method="POST" action="/signup/create">
                {% csrf_token %}
                <div class="form-group">
                    <div class="i3over1">
                        <div class="label">Email ( 作為帳號使用 )</div>
                        <input name="email" type="text"  required/>
                    </div>
                    <div class="i3over1">
                        <div class="label">密碼</div>
                        <input name="password" type="password"  required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="i3over1">
                        <div class="label">姓名</div>
                        <input name="name" type="text"  required/>
                    </div>
                    <div class="i3over1">
                        <div class="label">電話</div>
                        <input name="phone" type="text"  required/>
                    </div>
                    <div class="i3over1">
                        <div class="label">性別（男 / 女）</div>
                        <input name="sex" type="text"  required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="i3over1">
                        <div class="label">監護人</div>
                        <input name="guardian" type="text"  required/>
                    </div>
                    <div class="i3over1">
                        <div class="label">緊急聯絡人/關係/電話</div>
                        <input name="contactPerson" type="text"  required/>
                    </div>
                    <div class="i3over1">
                        <div class="label">緊急聯絡地址</div>
                        <input name="address" type="text"  required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="i3over1">
                        <div class="label">生日（YYYY/MM/DD）</div>
                        <input name="birthday" type="text"  required/>
                    </div>
                    <div class="i3over1">
                        <div class="label">身份證字號</div>
                        <input name="taiwanId" type="text"  required/>
                    </div>
                    <div class="i3over1">
                        <div class="label">飲食習慣（葷 / 素）</div>
                        <input name="vegetarian" type="text"  required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="iall">
                        <div class="label">OJ/帳號/解題數目</div>
                        <textarea name="ojAccount" placeholder="ex: zerojudge / jacky860226 / 7122"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="iall">
                        <div class="label">自我介紹</div>
                        <textarea name="selfIntro"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="iall">
                        <div class="label">為什麼想來參加</div>
                        <textarea name="joinReason"></textarea>
                    </div>
                </div>
                <div class="form-group floatLeft">
                    <input class="submit-btn" type="submit" value="送出"  required/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}