{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .bg {
            position: relative;
            top: 60px;
            width: 100%;
            background-color: rgba(1, 1, 1, .1);
            padding: 30px 0px; 
        }
        .schedule-main {
            width: 90%;
            padding: 20px 20px;
            position: relative;
            margin-right: auto;
            margin-left: auto;
            background-color: #fff;
        }
        .title-bg {
            width: 50px;
            height: 50px;
            background: linear-gradient(45deg, #4F71AD, #18A0B4);
            margin-bottom: 30px;
        }
        .title-main {
            width: 200px;
            height: 45px;
            background-color: #fff;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            line-height: 35px;
            color: rgba(1,1,1,.5);
            font-size: 25px;
        }
        .fc-row {
            display: flex;
        }
        .fc-box {
            width: 15%;
            line-height: 60px;
            margin: 10px 10px; 
            text-align: center;
            background-color: #fff;
            transition: all 0.3s ease;
        }
        .border {
            border: 1px solid rgba(1,1,1,.3);
        }
        .shadow {
            cursor: pointer;
            box-shadow: 3px 3px 1px rgba(1,1,1,.3);
        }
        .shadow:hover {
            transform: translateX(1px) translateY(1px);
            box-shadow: none;
        }
        .ban {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 500;
        }
        .mask {
            -webkit-filter: blur(10px);
            -moz-filter: blur(10px);
            -o-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px);
        }
        .class-info {
            display: none;
            position: fixed;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: #fff;
            border: 3px solid #4F71AD;
            border-radius: 5px;
            z-index: 999;
        }
        .class-title {
            display: flex;
            padding: 10px 20px;
            font-size: 20px;
            border-bottom: 1px solid rgba(1,1,1,.2);
        }
        .class-title-font {
            width: 90%;
        }
        .class-title-icon {
            width: 10%;
            text-align: right;
        }
        .class-title-icon i {
            cursor: pointer;
        }
        .class-content {
            padding: 10px 20px;
            line-height: 40px;
        }
        .teacher-main {
            margin: 30px 0px;
        }
        .teacher-list {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        .teacher-card {
            display: flex;
            padding: 20px 20px;
            margin: 10px 0;
            height: 250px;
            border: 1px solid rgba(1,1,1,.3);
            box-shadow: 1px 1px 2px rgba(1,1,1,.3);
        }
        .teacher-info {
            margin-right: 30px;
            width: 60%;
            line-height: 30px;
        }
        .teacher-info .teacher-title {
            font-size: 25px;
            margin-bottom: 20px;
        }
        .teacher-img {
            width: 30%;
            text-align: right;
        }
        .teacher-img img {
            width: 100%;
        }
    </style>
    <div class="ban"></div>
    <div class="bg">
        <div class="schedule-main">
            <div class="title-bg">
                <div class="title-main">課程表</div>
            </div>
            <div class="fc-table">
                <div class="fc-row">
                    <div class="fc-box"></div>
                    <div class="fc-box">08/08(二)</div>
                    <div class="fc-box">08/09(三)</div>
                    <div class="fc-box">08/10(四)</div>
                    <div class="fc-box">08/11(五)</div>
                    <div class="fc-box">08/12(六)</div>
                </div>
                <div class="fc-row">
                    <div class="fc-box">0900 - 1200</div>
                    <div class="fc-box"></div>
                    <div id="math" class="fc-box shadow border">數論</div>
                    <div id="greedy" class="fc-box shadow border">貪心演算法</div>
                    <div id="string" class="fc-box shadow border">字串</div>
                    <div id="fft" class="fc-box shadow border">FFT</div>
                </div>
                <div class="fc-row">
                    <div class="fc-box">1200 - 1330</div>
                    <div id="welcome" class="fc-box shadow border">報到 / 簡介時間</div>
                    <div id="lunch" class="fc-box shadow border">午餐</div>
                    <div id="lunch" class="fc-box shadow border">午餐</div>
                    <div id="lunch" class="fc-box shadow border">午餐</div>
                    <div id="lunch" class="fc-box shadow border">午餐</div>
                </div>
                <div class="fc-row">
                    <div class="fc-box">1330 - 1730</div>
                    <div id="dp" class="fc-box shadow border">DP</div>
                    <div id="ds" class="fc-box shadow border">基礎資結 / 進階資結</div>
                    <div id="graph" class="fc-box shadow border">基礎圖論 / 進階圖論</div>
                    <div id="internet" class="fc-box shadow border">網路流</div>
                    <div id="icpc" class="fc-box shadow border">大挑戰</div>
                </div>
                <div class="fc-row">
                    <div class="fc-box">1730 - 1900</div>
                    <div id="dinner" class="fc-box shadow border">晚餐</div>
                    <div id="dinner" class="fc-box shadow border">晚餐</div>
                    <div id="dinner" class="fc-box shadow border">晚餐</div>
                    <div id="dinner" class="fc-box shadow border">晚餐</div>
                    <div id="finish" class="fc-box shadow border">結業典禮</div>
                </div>
                <div class="fc-row">
                    <div class="fc-box">1900 - 2200</div>
                    <div id="practice" class="fc-box shadow border">練習賽</div>
                    <div id="icpc" class="fc-box shadow border">練習賽-ICPC</div>
                    <div id="jas" class="fc-box shadow border">練習賽-賽後judge</div>
                    <div id="ioi" class="fc-box shadow border">練習賽-IOI</div>
                    <div id="bye" class="fc-box shadow border">賦歸</div>
                </div>
            </div>


            <div class="teacher-main">
                <div class="title-bg">
                    <div class="title-main">師資介紹</div>
                </div>
                <div class="teacher-list">
                    <div class="teacher-card">
                        <div class="teacher-info">
                            <div class="teacher-title">黃兆源</div>
                            <div class="teacher-ga">擅長：資料結構、演算法</div>
                            <div class="teacher-exp">
                                在新竹高中軟體研究社擔任教學 <br/>
                                ACM ICPC 越南河內站三等獎<br/>
                                ACM ICPC Manila Blue Eagle Award<br/>
                                第五屆ITSA 第七名<br/>
                                TOI 1!<br/>
                            </div>
                        </div>
                        <div class="teacher-img">
                            <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/12189103_699118313557708_1679870441038910752_n.jpg?oh=f1f8afb8f0c8fb0074a9fcfa930e0829&oe=59819DE1">
                        </div>
                    </div>
                    <div class="teacher-card">
                        <div class="teacher-info">
                            <div class="teacher-title">李旺陽</div>
                            <div class="teacher-ga">擅長：資料結構、演算法</div>
                            <div class="teacher-exp">
                                競技程式設計助教 <br/>
                                資訊之芽講師 <br/>
                                TOI 2! <br/>
                                ACM ICPC Manila Blue Eagle Award<br/>
                            </div>
                        </div>
                        <div class="teacher-img">
                            <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/10984303_870023666353889_6137387822921814835_n.jpg?oh=5a647c705842f5eb1f47c7ffa81af58b&oe=59AF076D">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="welcome-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">報到 / 簡介時間</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    報到 / 簡介時間
                </div>
            </div>
            <div id="dp-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">Dynamic Programming ( DP )</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    課程內容：  <br/>
                    基本動態規劃 <br/>
                    滾動陣列 <br/>
                    單調對列優化 <br/>
                    斜率優化 <br/>
                    平行四邊形優化 <br/>
                </div>
            </div>
            <div id="math-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">數論</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    課程內容：  <br/>
                    各種數學技巧<br/>
                    exGCD<br/>
                    中國剩餘定理<br/>
                    矩陣運算<br/>
                </div>
            </div>
            <div id="ds-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">資料結構</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    課程內容：  <br/>
                        stack<br/>
                        queue<br/>
                        DFS、BFS<br/>
                        link list<br/>
                        heap(priority queue)<br/>
                        線段樹<br/>
                        Treap(?)<br/>
                        Treap<br/>
                        持久化Treap<br/>
                        持久化線段樹<br/>
                        kd線段樹<br/>
                        永久化標記<br/>
                </div>
            </div>
            <div id="greedy-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">貪心演算法</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    課程內容：  <br/>
                        Greedy<br/>
                        矩陣胚定理(?)<br/>
                </div>
            </div>
            <div id="graph-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">圖論</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    課程內容：  <br/>
                        什麼是圖<br/>
                        圖的儲存<br/>
                        圖上DFS、BFS<br/>
                        最小生成樹<br/>
                        最短路徑<br/>
                        平面圖的一些性質<br/>
                        平面圖判定<br/>
                        競賽圖的一些性質<br/>
                        斯坦納樹<br/>
                        dominator tree<br/>
                        最小樹形圖<br/>
                </div>
            </div>
            <div id="string-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">字串</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    課程內容：  <br/>
                        Z algorithm<br/>
                        KMP<br/>
                        Suffix Array<br/>
                        AC自動機<br/>
                        後綴自動機<br/>
                        迴文自動機<br/>
                </div>
            </div>
            <div id="internet-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">網路流</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    課程內容：  <br/>
                        Ford-Fulkerson<br/>
                        Edmonds-Karp<br/>
                        Dinic<br/>
                        ISAP<br/>
                        最小割定理<br/>
                        網路流最小割建模技巧<br/>
                        Push Relable(?)<br/>
                </div>
            </div>
            <div id="fft-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">FFT</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    課程內容：  <br/>
                        快速傅立葉變換(FFT)<br/>
                        快速數論變換(NTT)<br/>
                        FWT<br/>
                        應用<br/>
                </div>
            </div>
            <div id="lunch-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">午餐</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    好吃的午餐
                </div>
            </div>
            <div id="dinner-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">晚餐</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    好吃的晚餐
                </div>
            </div>
            <div id="practice-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">練習賽</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    模擬真正比賽的方式進行練習
                </div>
            </div>
            <div id="icpc-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">練習賽-ICPC</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    模擬ICPC的方式進行練習
                </div>
            </div>
            <div id="jas-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">練習賽-賽後judge</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    模擬賽後judge的方式進行練習
                </div>
            </div>
            <div id="ioi-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">練習賽-IOI</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    模擬IOI的方式進行練習
                </div>
            </div>
            <div id="bye-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">賦歸</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    byebye~~
                </div>
            </div>
            <div id="finish-info" class="class-info">
                <div class="class-title">
                    <div class="class-title-font">結業典禮</div>
                    <div class="class-title-icon"><i id="close" class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="class-content">
                    結業典禮
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var id = '';
        $('.shadow').click(function() {
            $('.ban').show();
            $('.schedule-main').addClass('mask');
            $("#" + this.id + "-info").fadeIn();
            id = this.id;
        })
        $('i#close').click(function() {
            $('.ban').hide();
            $('.schedule-main').removeClass('mask');
            $("#" + id + "-info").fadeOut();
        })
    </script>
{% endblock %}